/* This is the style file for our wedding website */
@viewport {
  width: device-width ;
  zoom: 1.0 ;
} 
html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;    
    font-size:16px; text-align:left;

}
ol { padding:1; margin-left:2vw; line-height:1.5;}
p {
    color:black; font-size:16px; width:60vw; line-height:1.5;
}
p2 {
    color:black; font-size:18px; width:60vw; line-height:2;
}
h3 {
    color:black; font-size:24px; text-align:center;
}
h2 {
    color:black; font-size:22px; text-align:left;
}
h1 {
    color:black; font-size:18px; text-align:left; font-weight:bold;
}
h6 {
    color:black; font-size:16px; text-align:center; font-weight:bold;
}
sb-text {
    color:black; font-size:2vw; text-align:left; font-weight:bold; line-height:2;
}
table, th, td {
    width:100%;
    border:1px solid #000;
    border-collapse:collapse;
}
iframe { width:50vw; height:50vh; }
body { }
.header-cont {width:100%; position:fixed; margin-left: 0px; top:0px;}
.header {
    height:9.5vw;
    background:#FFF;
    border:2px solid #FFF;
    max-width:100vw;
    margin: 0px auto;
}
.sidebar-cont {height:100%; position:fixed; margin-left:0px; top:12vw;}
.sidebar {
    height:70vh;
    background:#FFF;
    border:2px solid #000;
    width:20vw;
    margin:0px auto;
}
.content {
    max-width:75vw;
    margin:12vw auto;
    margin-left:23vw;
}
.l-page {
    height:90vh;
    background:#FFF;
    border:2px solid #000;
    width:50%;
    margin:0 auto;
}
.sb {
    max-width:75vw;
    margin:0vw auto;
    clear: both;
}
img {  display: block; }
img.wr {  max-width: 70%;  margin: 10px 0px; }
img.r {  float: right;  margin-left: 10px; }
img.l {  float: left;  margin-right: 10px; }
img.c { margin-left:auto; margin-right:auto;}
@media only screen
and (min-device-width : 320px)
and (max-device-width : 640px) {
    body { max-width: 100vw;}
}


